body {
    background:wheat;
}
#loginform {
    background-color: rgba(255, 255, 255, 0.95);
    width: 420px;
    height: 300px;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 10px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.login-input-box {
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.login-input-box input{
    width: 340px;
    height: 32px;
    margin-left: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 42px;
}
.login-input-box input:hover{
    border: 1px solid #ff7d0a;
}
.login-input-box input::after{
    border: 1px solid #ff7d0a;
}
.login-button button{
    background-color: #ff7d0a;
    color: #ffffff;
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin-left: 18px;
    border: 1px solid #ff7d0a;
    border-radius: 4px;
}