{% extends "base.html" %}
{% block title %} 登陆页面 {% endblock %}
{% block content  %}
    <div id="loginform">
        <form  action="{% url 'polls:login' %}" method="post">
            <div class="login-input-box">
                <span class="icon icon-user"></span>
                用户名:<input type="text" name="username">
            </div>
            <div class="login-input-box">
                <span class="icon icon-passwd"></span>
                密码: <input type="passwd" name="passwd">
            </div>
            <div class="login-button">
                <span></span>
                <button>登陆</button>
            </div>
        </form>
    </div>
{% endblock %}